
.text-one{
    font-family: tahoma;
    font-weight: bold;
    font-size: larger;
    
}
.text-two{
    font-family: Arial;
    font-weight: bold;
    font-size: xx-large;
    margin-top: 50px;
    
}
.text-three{
    font-family: Arial;
    font-style: italic;
    color: red;
    margin-top: 10px;
}
.text-four{
    font-family: Verdana;
    font-weight: bold;
    margin-top: 100px;
   
}
.text-five{
    font-family: Verdana;
    color: gray;
    margin-top: 9px;
   
}
.text-six{
width: 290px;
font-family: verdana;
margin-top: 20px;
}
.started-button{
padding-top: 7px;
padding-bottom: 7px;
padding-left: 14px;
padding-right: 14px;
border-radius: 5px;
background-color: rgb(3, 140, 3);
color: white;
border: none;
font-family: verdana;
margin-top: 20px;
}

.text-seven{
font-family: Arial;
font-size: xx-large;
font-weight: bold;
text-align: center;

}
.text-eight{
font-family: Arial;
text-align: center;
}
.text-nine{
font-family: Arial;
text-align: center;
color: rgb(54, 133, 244);
}